* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: rgb(21, 20, 20);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 22px;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
button {
  height: 36px;
}

.input-border-container {
  position: relative;
}

input[type="text"] {
  width: 340px;
  border: 1px solid rgb(224, 228, 229);
  border-radius: 18px;
  padding: 10px;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
}

.animated-border::after,
.animated-border::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(
    rgb(59, 233, 6),
    rgb(46, 178, 6),
    rgb(107, 235, 68),
    rgb(129, 222, 100),
    rgb(59, 233, 6)
  );

  padding: 3px;
  border-radius: 20px;
  z-index: -1;
}

.animated-border::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.add-btn {
  width: 200px;
  background-color: rgb(59, 233, 6);
  color: white;
  border: none;
  border-radius: 18px;
  margin-top: 28px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.add-btn:hover {
  background-color: rgb(107, 235, 68);
}

.todo-list-container {
  position: relative;
  margin-top: 20px;
  background: rgb(14, 12, 13);
  height: 540px;
  width: 400px;
  border-radius: 10px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.custom-animated-border::after,
.custom-animated-border::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    rgb(107, 235, 68)
  );
  padding: 3px;
  z-index: -1;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.todo-list {
  padding: 12px;
  font-size: 22px;
  border-radius: 10px;
}

.todo {
  display: flex;
  align-items: center;
  align-items: center;
  height: 40px;
  color: #fff;
  background-color: rgb(18, 18, 32);
  border-radius: 20px;
  border-top: 2px solid rgb(59, 233, 6);
  border-bottom: 2px solid rgb(59, 233, 6);
  margin-top: 6px;
}

input[type="checkbox"] {
  display: none;
}

.check-todo {
  height: 40px;
  width: 40px;
  border: 2px solid rgb(59, 233, 6);
  border-radius: 20px;
  display: grid;
  place-items: center;
  cursor: pointer;
}


.todo-text {
  text-align: left;
  flex-grow: 1;
  cursor: pointer;
  margin-left: 8px;
  font-size: 18px;
}

.checkbox-container div {
  cursor: pointer;
}

.delete-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(59, 233, 6);
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.455);
  transition: box-shadow;
}

.delete-btn svg {
  fill: #000;
}

.delete-btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
