* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
button {
  height: 36px;
}

input[type="text"] {
  width: 340px;
  border: 1px solid rgb(29, 57, 63);
  border-radius: 6px;
  padding: 6px;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
}

button {
  width: 200px;
  background-color: rgb(25, 202, 72);
  border: none;
  border-radius: 18px;
  margin-top: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(22, 180, 63);
}

.todos-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 22px;
  height: 600px;
  width: 800px;
  box-shadow: 1px 1px 10px rgba(211, 140, 140, 0.4);
}
