* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: rgb(250, 229, 203);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
button {
  height: 36px;
}

input[type="text"] {
  width: 340px;
  border: 1px solid rgb(224, 228, 229);
  border-radius: 18px;
  padding: 10px;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
}

button {
  width: 200px;
  background-color: rgb(31, 224, 60);
  border: none;
  border-radius: 18px;
  margin-top: 16px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: rgb(22, 180, 63);
}

h3 {
  margin-top: 22px;
  font-size: 24px;
}

.todos-container {
  text-align: center;
  margin-top: 30px;
  padding: 12px;
  font-size: 22px;
  height: 540px;
  width: 400px;
  box-shadow: 1px 1px 10px rgba(146, 135, 135, 0.7);
  background-color: rgb(215, 236, 254);
}

.todo-item {
  margin-top: 8px;
}

.divisor {
  width: 375px;
  height: 1px;
  background-color: lightgray;
}
